---

## 1. Pandas'Ä±n YapÄ± TaÅŸlarÄ±: Series ve DataFrame

Pandas, temel olarak veri kÃ¼meleriyle Ã§alÄ±ÅŸmak iÃ§in kullanÄ±lan bir Python kÃ¼tÃ¼phanesidir. Onunla verileri analiz edebilir, temizleyebilir ve iÅŸleyebiliriz. Bunu yaparken de iki temel veri yapÄ±sÄ± kullanÄ±r: **Series** (Seriler) ve **DataFrame** (Veri Ã‡erÃ§eveleri).

### Pandas Series: Tek Boyutlu GÃ¼Ã§

Bir **Series**, herhangi bir tÃ¼rden veriyi tutabilen **tek boyutlu bir dizi** gibidir. Onu NumPy'Ä±n 1 boyutlu dizisine veya bir tablodaki tek bir sÃ¼tuna benzetebiliriz.

* **VarsayÄ±lan Ä°ndeks:** EÄŸer biz belirtmezsek, Pandas Series'deki elemanlarÄ± 0'dan baÅŸlayan sayÄ±larla etiketler (indeksler)

```python
import pandas as pd

a = [1, 7, 2]
veri_serisi = pd.Series(a) # Bir listeden Seri oluÅŸturma [cite: 9]
print("Basit Seri:\n", veri_serisi)
print("\nÄ°lk Eleman:", veri_serisi[0]) # Ä°ndeks ile eriÅŸim [cite: 9]
```

* **Ã–zel Ä°ndeks:** Ä°stersek, `index` parametresi ile kendi etiketlerimizi de verebiliriz. Bu etiketleri kullanarak da verilere eriÅŸebiliriz.

```python
import pandas as pd

a = [1, 7, 2]
i = ["x", "y", "z"]
ozel_indeksli_seri = pd.Series(a, index=i) # Ã–zel indeks ile Seri oluÅŸturma [cite: 9]
print("\nÃ–zel Ä°ndeksli Seri:\n", ozel_indeksli_seri)
print("y etiketiyle eriÅŸim:", ozel_indeksli_seri["y"]) # Etiket ile eriÅŸim [cite: 9]
```

* **SÃ¶zlÃ¼kten Seri:** Bir Python sÃ¶zlÃ¼ÄŸÃ¼ kullanarak da Seri oluÅŸturabiliriz; sÃ¶zlÃ¼ÄŸÃ¼n anahtarlarÄ± otomatik olarak indeks (etiket) olur.

```python
import pandas as pd

kaloriler = {"gÃ¼n1": 420, "gÃ¼n2": 380, "gÃ¼n3": 390}
sozlukten_seri = pd.Series(kaloriler) # SÃ¶zlÃ¼kten Seri oluÅŸturma
print("\nSÃ¶zlÃ¼kten Seri:\n", sozlukten_seri)
```

### Pandas DataFrame: Ä°ki Boyutlu Tablo

**DataFrame**, Pandas'Ä±n ana iÅŸ gÃ¼cÃ¼dÃ¼r. SatÄ±rlarÄ± ve sÃ¼tunlarÄ± olan **iki boyutlu bir tablo** gibidir. Python sÃ¶zlÃ¼klerini kullanarak kolayca DataFrame'ler oluÅŸturabiliriz.

```python
import pandas as pd

data = {
  "kaloriler": [420, 380, 390],
  "sure": [50, 40, 45]
}

veri_cercevesi = pd.DataFrame(data) # SÃ¶zlÃ¼kten DataFrame oluÅŸturma [cite: 15]
print("\nDataFrame:\n", veri_cercevesi)
```

### DataFrame'e EriÅŸim: `loc` ve `iloc`

DataFrame'den belirli satÄ±rlarÄ± veya verileri almak iÃ§in `loc` ve `iloc` Ã§ok kullanÄ±ÅŸlÄ±dÄ±r[cite: 16].

* **`loc`:** Etiket (indeks adÄ± veya sÃ¼tun adÄ±) tabanlÄ± eriÅŸim saÄŸlar[cite: 17].
* **`iloc`:** Tam sayÄ± (integer) pozisyon tabanlÄ± eriÅŸim saÄŸlar[cite: 17].

```python
import pandas as pd

data = {
  "kaloriler": [420, 380, 390],
  "sure": [50, 40, 45]
}
df = pd.DataFrame(data, index=["gÃ¼n1", "gÃ¼n2", "gÃ¼n3"]) # Ã–zel indeksli DF [cite: 19]
print("\nÃ–zel Ä°ndeksli DataFrame:\n", df)

# loc ile 'gÃ¼n2' etiketli satÄ±rÄ± alalÄ±m
print("\nloc['gÃ¼n2']:\n", df.loc["gÃ¼n2"]) # [cite: 20] (PDF'deki Ã¶rneÄŸe benzer)

# iloc ile 1. pozisyondaki (ikinci) satÄ±rÄ± alalÄ±m
print("\niloc[1]:\n", df.iloc[1]) # [cite: 20]
```

---

Ä°ÅŸte Pandas'Ä±n temelleri bunlar! Bir yanda tek sÃ¼tunluk **Series**, diÄŸer yanda tam bir tablo olan **DataFrame**. Bu ikisiyle veri dÃ¼nyasÄ±nda harikalar yaratabiliriz.

In [1]:
import pandas as pd
# Serileri tek boyutlu dizileri tutmak iÃ§in kullanÄ±lÄ±r. Onlari indeksleyerek tutar.

a = [1, 7, 2]
veri_serisi = pd.Series(a)
print(f"Basit Seri: \n{veri_serisi}")
print("Ä°lk Eleman:",veri_serisi[0])

# Ã–zel index atayabiliriz
b = [1, 7, 2]
i = ["x", "y", "z"]
data_series = pd.Series(data=b, index=i)
print(f"Basit Seri 2: \n{data_series}")

# SÃ¶zlÃ¼k ile seri oluÅŸturma

kaloriler = {"gÃ¼n1": 420, "gÃ¼n2": 380, "gÃ¼n3": 390}
series_from_dict = pd.Series(kaloriler)
print(f"Basit Seri 3: \n{series_from_dict}")

Basit Seri:
0    1
1    7
2    2
dtype: int64
Ä°lk Eleman: 1
Basit Seri 2:
x    1
y    7
z    2
dtype: int64
Basit Seri 3:
gÃ¼n1    420
gÃ¼n2    380
gÃ¼n3    390
dtype: int64

In [2]:
# DataFrame YapÄ±sÄ±
import pandas as pd

data = {
    "kaloriler": [420, 380, 390],
    "sure": [50, 40, 45]
}

custom_index = ["gÃ¼n1", "gÃ¼n2", "gÃ¼n3"]

data_frame = pd.DataFrame(data, index=custom_index)
print(f"Basit Data Frame: \n{data_frame}")

# loc kullanÄ±mÄ±:
print(f"GÃ¼n1 indeksli data: \n{data_frame.loc["gÃ¼n1"]}")
# iloc
print(f"1. indeksli data: \n{data_frame.iloc[1]}")

Basit Data Frame:
      kaloriler  sure
gÃ¼n1        420    50
gÃ¼n2        380    40
gÃ¼n3        390    45
GÃ¼n1 indeksli data:
kaloriler    420
sure          50
Name: gÃ¼n1, dtype: int64
1. indeksli data:
kaloriler    380
sure          40
Name: gÃ¼n2, dtype: int64

---

## 2. Veri YÃ¼kleme ve KeÅŸfetme

Genellikle verilerimiz Python kodumuzun iÃ§inde deÄŸil, **CSV (VirgÃ¼lle AyrÄ±lmÄ±ÅŸ DeÄŸerler)** veya **JSON** gibi dosyalarda bulunur. Pandas, bu dosyalarÄ± okumayÄ± Ã§ok kolaylaÅŸtÄ±rÄ±r.

### Veri YÃ¼kleme

* **CSV Okuma (`read_csv()`):** Bu, muhtemelen en sÄ±k kullanacaÄŸÄ±n fonksiyondur. CSV dosyalarÄ±nÄ± doÄŸrudan bir DataFrame'e yÃ¼kler.
* **JSON Okuma (`read_json()`):** JSON formatÄ±ndaki verileri okumak iÃ§in kullanÄ±lÄ±r.

```python
import pandas as pd

# 'data.csv' adÄ±nda bir dosyamÄ±z olduÄŸunu varsayalÄ±m
# veri = pd.read_csv('data.csv')

# EÄŸer bir Python sÃ¶zlÃ¼ÄŸÃ¼mÃ¼z varsa, onu da DataFrame'e Ã§evirebiliriz:
data_sozluk = {
  "SÃ¼re":{ "0":60, "1":60, "2":60, "3":45, "4":45, "5":60 },
  "NabÄ±z":{ "0":110, "1":117, "2":103, "3":109, "4":117, "5":102 },
  "MaksNabÄ±z":{ "0":130, "1":145, "2":135, "3":175, "4":148, "5":127 },
  "Kalori":{ "0":409.1, "1":479.0, "2":340.0, "3":282.4, "4":406.0, "5":300.0 }
}
veri = pd.DataFrame(data_sozluk)


# DataFrame'in tamamÄ±nÄ± gÃ¶rmek iÃ§in to_string() kullanabiliriz[cite: 35].
# print(veri.to_string())
```

### Veriyi KeÅŸfetme: Ä°lk BakÄ±ÅŸ

BÃ¼yÃ¼k bir veri setini yÃ¼klediÄŸimizde, her ÅŸeyi tek seferde ekrana yazdÄ±rmak pratik olmaz. Bunun yerine, veriyi tanÄ±mak iÃ§in bazÄ± hÄ±zlÄ± yÃ¶ntemler kullanÄ±rÄ±z:

* **`head()`:** DataFrame'in **ilk** birkaÃ§ satÄ±rÄ±nÄ± gÃ¶sterir[cite: 41]. VarsayÄ±lan olarak ilk 5 satÄ±rÄ± gÃ¶sterir[cite: 42], ama `veri.head(10)` gibi bir sayÄ±yla istediÄŸimiz kadar satÄ±rÄ± gÃ¶rebiliriz.

    ```python
    print("Ä°lk 5 SatÄ±r (head()):\n", veri.head())
    ```

* **`tail()`:** DataFrame'in **son** birkaÃ§ satÄ±rÄ±nÄ± gÃ¶sterir[cite: 44]. VarsayÄ±lan olarak son 5 satÄ±rÄ± gÃ¶sterir[cite: 45].

    ```python
    print("\nSon 5 SatÄ±r (tail()):\n", veri.tail()) # Bu Ã¶rnekte hepsi gÃ¶rÃ¼necek.
    ```

* **`info()`:** Veri seti hakkÄ±nda **Ã¶zet bilgi** verir[cite: 47]. Bu bilgi, toplam satÄ±r sayÄ±sÄ±, sÃ¼tun adlarÄ±, her sÃ¼tundaki boÅŸ olmayan veri sayÄ±sÄ± ve veri tiplerini iÃ§erir.

    ```python
    print("\nVeri Seti Bilgisi (info()):")
    veri.info()
    ```

**Analoji ZamanÄ±:** Veri yÃ¼klemek, bÃ¼yÃ¼k bir **kÃ¼tÃ¼phaneye** girmek gibidir. `head()` ve `tail()` ile ilk ve son birkaÃ§ rafa hÄ±zlÄ±ca gÃ¶z atarsÄ±n. `info()` ise kÃ¼tÃ¼phanenin **kataloÄŸuna** bakÄ±p hangi tÃ¼r kitaplarÄ±n, kaÃ§ tane olduÄŸunu Ã¶ÄŸrenmek gibidir. ğŸ“š

---

Bu fonksiyonlar, yÃ¼klediÄŸimiz verinin neye benzediÄŸini, ne iÃ§erdiÄŸini ve herhangi bir eksiklik olup olmadÄ±ÄŸÄ±nÄ± anlamak iÃ§in ilk ve en Ã¶nemli adÄ±mlardÄ±r.

In [3]:
import pandas as pd

data_sozluk = {
  "SÃ¼re":{ "0":60, "1":60, "2":60, "3":45, "4":45, "5":60 },
  "NabÄ±z":{ "0":110, "1":117, "2":103, "3":109, "4":117, "5":102 },
  "MaksNabÄ±z":{ "0":130, "1":145, "2":135, "3":175, "4":148, "5":127 },
  "Kalori":{ "0":409.1, "1":479.0, "2":340.0, "3":282.4, "4":406.0, "5":300.0 }
}

data = pd.DataFrame(data_sozluk)
data

   SÃ¼re  NabÄ±z  MaksNabÄ±z  Kalori
0    60    110        130   409.1
1    60    117        145   479.0
2    60    103        135   340.0
3    45    109        175   282.4
4    45    117        148   406.0
5    60    102        127   300.0

In [4]:
# Data'nÄ±n ilk birkaÃ§ satÄ±rÄ±nÄ± gÃ¶rmek iÃ§in
data.head()

   SÃ¼re  NabÄ±z  MaksNabÄ±z  Kalori
0    60    110        130   409.1
1    60    117        145   479.0
2    60    103        135   340.0
3    45    109        175   282.4
4    45    117        148   406.0

In [5]:
data.tail() # Son 5 satÄ±rÄ± gÃ¶sterir

   SÃ¼re  NabÄ±z  MaksNabÄ±z  Kalori
1    60    117        145   479.0
2    60    103        135   340.0
3    45    109        175   282.4
4    45    117        148   406.0
5    60    102        127   300.0

In [6]:
data.info() # Veri hakkÄ±nda Ã¶zet bilgi verir.

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SÃ¼re       6 non-null      int64
 1   NabÄ±z      6 non-null      int64
 2   MaksNabÄ±z  6 non-null      int64
 3   Kalori     6 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 240.0+ bytes

---

## 2. Veri KeÅŸfi ve ManipÃ¼lasyon (Devam)

### Verileri Gruplama: `groupby()`

`groupby()` metodu, Pandas'Ä±n en gÃ¼Ã§lÃ¼ Ã¶zelliklerinden biridir. BelirttiÄŸiniz bir veya daha fazla sÃ¼tundaki **aynÄ± deÄŸerlere sahip satÄ±rlarÄ± bir araya getirerek** gruplar oluÅŸturmanÄ±zÄ± saÄŸlar[cite: 27]. Bu gruplar Ã¼zerinde daha sonra toplama, sayma, ortalama alma gibi iÅŸlemler yapabilirsiniz.

* **Neden Ã–nemli?** Kategorik verilere gÃ¶re analiz yapmak iÃ§in (Ã¶rneÄŸin, her departmanÄ±n toplam maaÅŸÄ±nÄ± bulmak, her ÅŸehrin ortalama satÄ±ÅŸÄ±nÄ± hesaplamak).

```python
import pandas as pd

data = {
  "departman":["A", "B", "C", "C", "A", "B"],
  "kiÅŸi": ["Mehmet", "Ali", "AyÅŸe", "Hasan", "Fatma", "HÃ¼seyin"],
  "maaÅŸ": [3000, 3500, 2500, 4500, 4000, 2000],
}
veri = pd.DataFrame(data)
print("Orijinal Veri:\n", veri)

# 'departman' sÃ¼tununa gÃ¶re gruplayalÄ±m
grup = veri.groupby("departman") [cite: 27]

# Her departmandaki kiÅŸi sayÄ±sÄ±nÄ± (ve maaÅŸ sayÄ±sÄ±nÄ±) bulalÄ±m
print("\nDepartmana GÃ¶re SayÄ±m:\n", grup.count())

# Her departmanÄ±n toplam maaÅŸÄ±nÄ± bulalÄ±m
print("\nDepartmana GÃ¶re Toplam MaaÅŸ:\n", grup.sum())

# Sadece A departmanÄ±nÄ±n toplam maaÅŸÄ±nÄ± alalÄ±m
print("\nA DepartmanÄ± Toplam MaaÅŸ:", grup.sum().loc["A"])
```

**Analoji ZamanÄ±:** `groupby()`'Ä±, bir sÃ¼permarketteki Ã¼rÃ¼nleri **kategorilerine gÃ¶re reyonlara ayÄ±rmak** gibi dÃ¼ÅŸÃ¼nebilirsin. TÃ¼m meyveler bir arada, tÃ¼m sebzeler bir arada... BÃ¶ylece her reyonun (grubun) toplam deÄŸerini veya ortalama fiyatÄ±nÄ± kolayca hesaplayabilirsin! ğŸ›’

### Verileri SÄ±ralama: `sort_values()`

`sort_values()` metodu, DataFrame'inizi **belirlediÄŸiniz bir sÃ¼tundaki deÄŸerlere gÃ¶re** sÄ±ralamanÄ±zÄ± saÄŸlar[cite: 52].

* **Neden Ã–nemli?** En yÃ¼ksek/en dÃ¼ÅŸÃ¼k deÄŸerleri kolayca gÃ¶rmek, veriyi belirli bir dÃ¼zene sokmak, sÄ±ralÄ± listeler oluÅŸturmak iÃ§in.

```python
import pandas as pd

# Ã–nceki adÄ±mdaki 'veri' DataFrame'ini kullanalÄ±m
print("\nOrijinal Veri:\n", veri)

# MaaÅŸa gÃ¶re kÃ¼Ã§Ã¼kten bÃ¼yÃ¼ÄŸe sÄ±ralayalÄ±m
print("\nMaaÅŸa GÃ¶re SÄ±ralÄ± (Artan):\n", veri.sort_values("maaÅŸ"))

# MaaÅŸa gÃ¶re bÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe sÄ±ralayalÄ±m
print("\nMaaÅŸa GÃ¶re SÄ±ralÄ± (Azalan):\n", veri.sort_values("maaÅŸ", ascending=False)) 
```

---

`groupby()` ve `sort_values()`, verilerinizi farklÄ± aÃ§Ä±lardan incelemenizi ve Ã¶nemli Ã¶rÃ¼ntÃ¼leri veya bilgileri ortaya Ã§Ä±karmanÄ±zÄ± saÄŸlayan iki temel araÃ§tÄ±r.

In [7]:
import pandas as pd

data = {
  "departman":["A", "B", "C", "C", "A", "B"],
  "kiÅŸi": ["Mehmet", "Ali", "AyÅŸe", "Hasan", "Fatma", "HÃ¼seyin"],
  "maaÅŸ": [3000, 3500, 2500, 4500, 4000, 2000],
}

data = pd.DataFrame(data)
print(f"Orijinal Data:\n{data}")

grup = data.groupby("departman")
print(f"Departmana gÃ¶re sayÄ±m:\n {grup.count()}")
print(f"DepartmanlarÄ±n toplam maaÅŸÄ±:\n {grup.sum().loc["A"]}")

new_data = data.sort_values("maaÅŸ", ascending=False)
new_data

Orijinal Data:
  departman     kiÅŸi  maaÅŸ
0         A   Mehmet  3000
1         B      Ali  3500
2         C     AyÅŸe  2500
3         C    Hasan  4500
4         A    Fatma  4000
5         B  HÃ¼seyin  2000
Departmana gÃ¶re sayÄ±m:
            kiÅŸi  maaÅŸ
departman
A             2     2
B             2     2
C             2     2
DepartmanlarÄ±n toplam maaÅŸÄ±:
 kiÅŸi    MehmetFatma
maaÅŸ           7000
Name: A, dtype: object

  departman     kiÅŸi  maaÅŸ
3         C    Hasan  4500
4         A    Fatma  4000
1         B      Ali  3500
0         A   Mehmet  3000
2         C     AyÅŸe  2500
5         B  HÃ¼seyin  2000

---

## 3. Veri Temizleme SanatÄ±

Veri temizleme, veri kÃ¼menizdeki **bozuk verileri dÃ¼zeltmek** anlamÄ±na gelir[cite: 54]. Bu bozuk veriler ÅŸunlar olabilir:

* BoÅŸ hÃ¼creler [cite: 55]
* YanlÄ±ÅŸ tipte veri [cite: 55]
* YanlÄ±ÅŸ veri [cite: 55]
* Kopya veri [cite: 55]

Bu sorunlarÄ± Ã§Ã¶zmek, analizlerimizin **doÄŸru ve gÃ¼venilir** olmasÄ±nÄ± saÄŸlar.

### BoÅŸ HÃ¼creleri YÃ¶netme

BoÅŸ hÃ¼creler (Null, NaN) analiz sonuÃ§larÄ±nÄ± yanÄ±ltabilir[cite: 57]. Ä°ki ana yaklaÅŸÄ±m vardÄ±r:

1.  **SatÄ±rlarÄ± KaldÄ±rmak (`dropna()`):** BoÅŸ hÃ¼cre iÃ§eren satÄ±rlarÄ± tamamen kaldÄ±rmanÄ±n en basit yoludur[cite: 58, 60]. Genellikle veri setiniz Ã§ok bÃ¼yÃ¼kse ve birkaÃ§ satÄ±rÄ± kaybetmek Ã¶nemli deÄŸilse kullanÄ±lÄ±r[cite: 59]. `inplace=True` argÃ¼manÄ± ile orijinal DataFrame'i deÄŸiÅŸtirebilirsiniz[cite: 61].
    ```python
    import pandas as pd
    # 'data.csv' dosyasÄ±nda boÅŸluklar olduÄŸunu varsayalÄ±m
    # veri = pd.read_csv('data.csv')
    # new_veri = veri.dropna() # BoÅŸluk iÃ§eren satÄ±rlarÄ± siler [cite: 63]
    # print(new_veri.to_string())
    ```
2.  **BoÅŸ DeÄŸerleri DeÄŸiÅŸtirmek (`fillna()`):** SatÄ±rlarÄ± silmek yerine, boÅŸ hÃ¼creleri belirli bir deÄŸerle (Ã¶rneÄŸin 0, veya sÃ¼tunun ortalamasÄ±/medyanÄ±/modu) doldurmaktÄ±r[cite: 64].
    ```python
    # veri = pd.read_csv('data.csv')
    # Ortalama ile doldurma
    # x = veri["Calories"].mean() # OrtalamayÄ± hesapla [cite: 66]
    # veri["Calories"].fillna(x, inplace = True) # Ortalamayla doldur [cite: 66]
    # Medyan ile doldurma
    # y = veri["Calories"].median() # MedyanÄ± hesapla [cite: 67]
    # veri["Calories"].fillna(y, inplace = True) # Medyanla doldur [cite: 67]
    # Belirli bir deÄŸerle doldurma
    # veri.fillna(130, inplace = True) # TÃ¼m boÅŸluklarÄ± 130 ile doldur [cite: 65]
    ```

### YanlÄ±ÅŸ Format ve Verileri DÃ¼zeltme

Bazen veriler yanlÄ±ÅŸ formatta (tarih yerine metin gibi) veya bariz ÅŸekilde yanlÄ±ÅŸ (sÃ¼re 450 dakika gibi) olabilir.

* **Formata Ã‡evirme:** `pd.to_datetime()` gibi fonksiyonlarla verileri doÄŸru formata Ã§evirebiliriz.
* **DeÄŸerleri DeÄŸiÅŸtirme:** `loc` kullanarak belirli hÃ¼crelerdeki yanlÄ±ÅŸ deÄŸerleri dÃ¼zeltebiliriz[cite: 78]. Veya belirli kurallar koyarak (Ã¶rneÄŸin 120 dakikadan uzun sÃ¼reyi 120 yap gibi) toplu dÃ¼zeltmeler yapabiliriz[cite: 79, 80].
* **SatÄ±rlarÄ± Silme:** YanlÄ±ÅŸ veri iÃ§eren satÄ±rlarÄ± `drop()` ile silebiliriz[cite: 82].

### Kopya (Yinelenen) Verileri KaldÄ±rma

Bazen aynÄ± satÄ±r veri setinde birden fazla kez yer alabilir[cite: 83].

* **Tespit Etme (`duplicated()`):** Bu metot, hangi satÄ±rlarÄ±n kopya olduÄŸunu gÃ¶steren bir boolean (True/False) serisi dÃ¶ndÃ¼rÃ¼r[cite: 84].
* **KaldÄ±rma (`drop_duplicates()`):** Bu metot, yinelenen satÄ±rlarÄ± veri setinden kaldÄ±rÄ±r[cite: 85].
    ```python
    # veri = pd.read_csv('data2.csv')
    # print(veri.duplicated().to_string()) # KopyalarÄ± gÃ¶ster [cite: 85]
    # new_veri = veri.drop_duplicates() # KopyalarÄ± sil [cite: 85]
    # print(new_veri.to_string())
    ```

**Analoji ZamanÄ±:** Veri temizlemeyi, tarihi bir eseri **restore etmeye** benzetebilirsin. KÄ±rÄ±k parÃ§alarÄ± yapÄ±ÅŸtÄ±rÄ±r (`fillna`), yanlÄ±ÅŸ boyanmÄ±ÅŸ yerleri dÃ¼zeltir (`loc`), tozunu alÄ±r ve fazlalÄ±klarÄ± atarsÄ±n (`dropna`, `drop_duplicates`). Sonunda, eserin (verinin) gerÃ§ek gÃ¼zelliÄŸi ve anlamÄ± ortaya Ã§Ä±kar! ğŸ›ï¸âœ¨

---

Pandas ile veri temizleme, veri analizi sÃ¼recinin kritik bir parÃ§asÄ±dÄ±r ve bu araÃ§lar sana bu konuda bÃ¼yÃ¼k bir gÃ¼Ã§ verir.